<?xml version="1.0"?>
<configuration>
	<connectionStrings>
	    <add name="RPSLSConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\RPSLS.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.web>
    <compilation debug="true" targetFramework="4.5">
      	<assemblies>
	        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
	        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
	        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
	        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      	</assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On" defaultRedirect="~/Error_Page/Ooooohps.aspx">
     	<error statusCode="404" redirect="~/Error_Page/NotFound.aspx"/>
    </customErrors>
	</system.web>
	<system.webServer>
	  	<asp scriptErrorSentToBrowser="true"/>    
	    <httpErrors errorMode="Detailed">
	        <error statusCode="404" path="/Error_Page/NotFound.aspx" responseMode="ExecuteURL" />
	    </httpErrors>
	</system.webServer>
</configuration>